
<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{{ Product.get_absolute_url }}" method="post">
    {% csrf_token %}
    <p>{{s.0}}</p>
    <p>{{p.GuenstigsterPreis}}€</p>
    <p>{{form}}</p>
    <input type="submit" value="Speichern">
</form>

</form>


<div id="graphdiv"></div>


<script type="text/javascript">
  g4 = new Dygraph(
    document.getElementById("graphdiv"),
    "csv",
    {
      title: 'History',
      errorBars: true,
      legend: 'always',
      ylabel: 'Preise',
      xlabel: 'Datensätze',

    }
  );


</script>
<style>
      table, td, th { border: 1px solid black; }
</style>
<table>
      <tr>
        <th>Nr.</th>
        <th>Product</th>
        <th>Alter Preis</th>
        <th>Neuer Preis</th>
        <th>Upload Datum</th>
        <th>Kategorie</th>



      </tr>
    <tr>

    {%for Preis in s%}
        <tr>
            <td>
                <p>
                    {{ forloop.counter0 }}</p>
            </td>
            <td>
                <p>{{ Preis.Product }}</p>
            </td>
            <td>
                <p>{{ Preis.Alter_Preis }}</p>
            </td>

            <td>
                <p>{{ Preis.Neuer_Preis }}</p>
            </td>
            <td>
                <p>{{ Preis.datumzeit }}</p>
            </td>
            <td>
                {{ p.Kategorie}}
            </td>
        </tr>
    {%endfor%}
        </tr>
    </table>

<a href="/polls/">zurück</a>
</div>


{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
